In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('1802315.csv')

In [3]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200974851,RESTA corporation,2019-08-28 00:00:00,2019.0,1.929725e+09,2019-08-08,20190808,20190808,20190828.0,USD,RV,1.0,NaN,86.48,20190808.0,NAD1,1.929725e+09,0
1,U001,0200833713,JETRO corporation,2019-01-29 00:00:00,2019.0,1.928598e+09,2019-01-09,20190109,20190109,20190129.0,USD,RV,1.0,NaN,10034.85,20190109.0,NAD1,1.928598e+09,0
2,U001,0200793568,SUPE us,2019-04-01 00:00:00,2019.0,1.928977e+09,2019-03-16,20190316,20190316,20190331.0,USD,RV,1.0,NaN,110101.25,20190316.0,NAA8,1.928977e+09,0
3,U001,0200920735,ALBERT corporation,2020-04-13 00:00:00,2020.0,1.930488e+09,2020-02-07,20200206,20200207,20200412.0,USD,RV,1.0,NaN,3973.64,20200207.0,NAGD,1.930488e+09,0
4,U001,0200743123,KROGER corporation,2019-05-30 00:00:00,2019.0,1.929318e+09,2019-05-15,20190514,20190515,20190530.0,USD,RV,1.0,NaN,28121.48,20190515.0,NAA8,1.929318e+09,0

In [4]:
df.isna().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                 4934
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             50000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    8
isOpen                        0
dtype: int64

In [5]:
df["document_create_date"] == df["document_create_date.1"]

0         True
1         True
2         True
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998     True
49999     True
Length: 50000, dtype: bool

In [8]:
(df["doc_id"] == df["invoice_id"]).sum()

49992